@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* transition: all 300ms ease; */
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

*[data-disabled] {
  cursor: not-allowed;
}

button:hover {
  filter: brightness(92%);
}

button:active {
  filter: brightness(88%);
  transform: scale(0.99);
}

.flex-div {
  display: flex;
  align-items: center;
}
